version: '3'

services:
    web-server:
        image: nginx   
        # container_name: my-nginx
        ports:
        - "443:443"
        volumes:
        - ./my-web:/usr/share/nginx/html
        - ./certs:/etc/nginx/certs
        - ./nginx-conf:/etc/nginx/conf.d
        depends_on:
        - go-app        # Go 앱이 켜진 뒤에 실행
        # restart: always
    go-app:
        build: ./go-app
        environment:
        - DB_USER=${POSTGRES_USER}
        - DB_PASSWORD=${POSTGRES_PASSWORD}
        - DB_NAME=${POSTGRES_DB}
        volumes:
        - ./go-app:/app
        depends_on:
        - db
    db:
        image: postgres:13-alpine
        environment:
        - POSTGRES_USER=${POSTGRES_USER}
        - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
        - POSTGRES_DB=${POSTGRES_DB}
        volumes:
        - postgres-data:/var/lib/postgresql/data    # DB 데이터를 영구 저장할 볼륨
    
volumes:
    postgres-data: